body {
    text-align: center;
    background-color:#0C1FF2
}
.box1 {
    background-color: deeppink;
}

.box2 {
    background-color: forestgreen;
}

.box3 {
    background-color: goldenrod;
}